$background-color:#f3f3f3;

$primary-color:rgb(125, 205, 251);//#7dcdfb

$light-text-color:rgb(104, 104, 104);
$dark-text-color:rgb(43, 43, 43);

//padding
$left-right-padding:20px;
$top-bottom-padding:20px;


//color
$light-orange:#FEF9DD;
$light-red:#F8573C;